#landingHeaderContainer {
    margin-left: 340px;
}
#headerTitle {
/* image replacement: */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url(//temperatereefbase.imas.utas.edu.au/static/img/oa_header_TRB.png) no-repeat 6px 10px transparent;
    width: 100%;
    height: 84px;
}
#logoContainer {
    margin-left: 35px;
    margin-top: 0;
}
#logo {
    margin: 5px 15px 0 35px;
}
.mainlinks {
    /* Remove border now that there's no login link */
    border-left: none;
}
